body{
  margin: 0;
  overflow: hidden;
  color: transparent;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  
}
.p5Canvas{
     /* Fixe l'image en haut à gauche de la page */
 position: fixed; 
 top: 0; 
 left: 0; 
 /* Préserve le ratio de l'image */
 min-width: 100%;
 min-height: 100%;  
}
.main{
    height: 60%; 
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 30px;
}
.footer{
    color:grey;
    height: 10%; 
    position: fixed;
    z-index: 1;
    bottom: 0; 
    width: 100%;
    text-align: right;
    
}
footer{
    padding-right: 30px;
}
#other{
    color:blanchedalmond;
    background-color: rgb(55,100,144);
    text-align: center;
    padding: 1% 20%;
    height: 100%;
}
#error{
    color:red;
    background-color: rgb(55,100,144);
    text-align: center;
    padding: 5% 20%;
    height: 100%;
}
.help{
    height: 100%;
}

h1{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    padding: 10px;
  
    margin:20px;
}

img{
    margin: 10px;
    border: none;
    outline-color: transparent;
}
.photoAboutMe{
    width: 260px;
    height: 260px;
}

button{
    background-color:#154360   ; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10%;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
input{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
p{
    color: white;
    font-size: 18px;
   
}
#messageError{
    color: yellow;
    font-size: 25px;
}
li {
    float: left;
    padding: 10px 10px;
  }
  
a {
    display: block;
    padding:  10px 20px;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    
  }
.nav{
    height: 10%; 
    display: block;
    position: relative;
    z-index: 1;
}
ul {
    position: fixed;
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10%;
    background-color:	rgb(55,100,144);

    
}
form{
    text-align: center;
}
.iconWeather{
  
    border: 0px;
    max-width: 100%;
    height: auto\5;
    width: auto\4;

}
.iconWeather[src=""] {
    display: none;
}