body{
  
  margin: 0;
  overflow: hidden;
  color: transparent;
}


.p5Canvas{
    min-height: 100vh; 
    position: relative;
    margin:0; 
    
}
#main{
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 5% 20%; 
}
footer{
    color:grey;
    height: 15%;
    
}
#other{
    color:blanchedalmond;
    background-color: rgb(55,100,144);
    text-align: center;
    padding: 1% 20%;
    min-height: 100vh;
}
#error{
    color:red;
    background-color: rgb(55,100,144);
    text-align: center;
    padding: 5% 20%;
}
.help{
    height: 35vh;
}

h1{
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    padding: 10px;
    min-width: 100vh;
}
img{
    width: 260px;
    height: 260px;
    margin: 10px;
}

a {
padding-right: 20px;
color: yellow;

}
button{
    background-color:#154360   ; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    border-radius: 10%;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
input{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
p{
    color: white;
    font-size: 20px;
    padding: 5px; 
}
#messageError{
    color: yellow;
    font-size: 25px;
}